.footer {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #FFF;
    margin: auto 0 0 0;
}

.inner_footer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_section {
    width: 90%;
    height: fit-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer_section {
    width: 25%;
    margin-right: auto;
}

.logo {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 260px;
    min-height: 260px;
}

.links {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFF;
}

.link_list li {
    margin: 0 0 0.5rem;
}

.link_list a {
    color: #FFF;
}

.link_list a:hover {
    color: antiquewhite;
    text-decoration: underline 1px salmon;
    transition: 500ms;
}

.socials {
    display: flex;
}

.copyright p {
    color: #FFF;
}

@media only screen and (max-width: 1080px) {
    
    .footer_section {
        width: 35%;
        margin-top: 2rem;
    }

    .main_section {
        padding: 0;
        margin-bottom: 2rem;
    }
    
}

@media only screen and (max-width: 850px) {

    .main_section {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .footer_section {
        width: 50%;
        margin: 2rem auto;
        text-align: center;
    }

}