.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.login_container {
    width: 20rem;
    height: 400px;
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #FFF;
}

.title {
    font-size: 1.5rem;
    margin: 0 0 40px;
}

.form_control {
    width: 100%;
    height: fit-content;
    margin: 0 0 1.5rem;
}

.form_control label,
.form_control input {
    width: 100%;
    display: block;
}

.form_control label {
    margin-bottom: 0.5rem;
}

.form_control button {
    padding: 10px 50px;
    background-color: #000;
    color: #FFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form_control button:hover,
.form_control button:active {
    background-color: #272727;
}

.loading {
    margin: auto;
}