.panel_container {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto 2rem;
}

.panel_container h1 {
    font-size: 2rem;
}

.panel_container h2 {
    font-size: 1.5rem;
}

.panel_container h1,
.panel_container h2 {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}

.editor_menu {
    width: 100%;
    height: fit-content;
    margin: 1rem auto;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.editor_options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor_select {
    padding: 1rem;
    width: 25%;
    height: fit-content;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}

.editor_select:hover,
.editor_options:hover {
    background-color: #3f3f3f;
}

.active {
    background-color: #3f3f3f;
}

.editor_container {
    width: 100%;
    margin: 2rem auto;
}

.editor_component {
    width: 100%;
}

.mobile_toggle {
    display: none;
}

@media only screen and (max-width: 1080px) {
    .panel_container h1,
    .panel_container h2 {
        width: 80%;
    }
}

@media only screen and (max-width: 817px) {
    .panel_container h1 {
        font-size: 1.8rem;
    }

    .panel_container h2 {
        font-size: 1.4rem;
    }

    .editor_menu {
        position: relative;
        overflow: hidden;
        height: fit-content;
        max-height: 80px;
        display: block;
        transition: 1000ms;
    }

    .editor_options {
        position: relative;
        top: -400px;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        z-index: 98;
        transition: 1000ms;
        padding-bottom: 1rem;
    }

    .editor_select {
        width: 170px;
        padding: 1rem 1.5rem;
    }

    .editor_options.open_menu {
        top: 0;
        transition: 1000ms;
    }

    .editor_menu.open_menu {
        max-height: 500px;
        transition: 1000ms;
    }

    .mobile_toggle {
        position: relative;
        right: 0px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: #000;
        cursor: pointer;
        z-index: 99;
    }

    .toggle_text {
        width: fit-content;
        min-width: max-content;
        height: fit-content;
        margin: 0 1rem 0 auto;
    }

    .mobile_toggle p {
        margin: 0 auto 0 0;
        color: #FFF;
    }

    .bar_container {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        row-gap: 6px;
    }

    .bar {
        width: 30px;
        height: 2px;
        background-color: #FFF;
        content: ' ';
    }

    .open_top {
        position: relative;
        top: 8px;
        transform: rotate(45deg);
        transition: all 500ms;
    }

    .open_bot {
        position: relative;
        top: -8px;
        transform: rotate(-45deg);
        transition: all 500ms;
    }

    .open_mid {
        opacity: 0;
    }

}